:root {
  --font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #181819;
  color: #fff;
}

section {
  height: 100svh;
  padding: 20px;
}

.onboarding-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100svh;
  position: relative;
}

.onboarding-slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  position: relative;
}

.onboarding-slide h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  padding: 0 10px;
}

.onboarding-slide img {
  position: absolute;
  top: 40%;
  left: 50%;
  max-width: 70%;
  margin: 20px auto;
  transform: translate(-50%, -50%);
}

.slide-bottom {
  position: absolute;
  bottom: 52px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.next-btn {
  border-radius: 8px;
  padding: 12px 24px;
  background: #50a8eb;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 80%;
}

.level-icon {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  border-radius: 100%;
  background-color: #0098ea;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-block {
  display: flex;
  align-items: center;
  column-gap: 7px;
  margin-bottom: 10px;
}

.user-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

.user-level {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #868686;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282829;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.bottom-menu,
.homepage-content {
  opacity: 0; /* Initially hidden */
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.bottom-menu.visible,
.homepage-content.visible {
  opacity: 1;
  visibility: visible; /* Make visible */
}

.add-button {
  background-color: #0098ea;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3px;
}

.page-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.levels-block {
  background-color: #282829;
  border-radius: 8px;
  padding: 18px 12px;
}

.level {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}

.level:last-child {
  border-bottom: none; /* Remove border for the last item */
  padding-bottom: 0; /* Optional: Adjust padding for consistency */
  margin-bottom: 0; /* Optional: Adjust margin for consistency */
}

.homepage-content {
  position: relative;
}

.activity-points {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hidden by default, positioned at the bottom */
#task-block {
  position: fixed;
  bottom: -100%; /* Hide it offscreen */
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  transition: bottom 0.5s ease; /* Slide effect */
  z-index: 999; /* Ensure it's on top of other elements */
}

/* Class to show the block */
.show {
  bottom: 0; /* Bring it to view */
}

.daily-progress {
  background-color: #282829;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 20px; /* Height of the progress bar */
  background-color: #868686; /* Background of the full bar */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* To ensure the rounded corners are effective */
  margin: 10px 0;
}

.progress-bar {
  height: 100%;
  width: 0%; /* Start at 0% */
  background-color: #0098ea; /* Progress background color */
  border-radius: 10px 0 0 10px; /* Rounded corners on the left side */
  transition: width 0.5s ease; /* Smooth transition for progress */
}

.progress-percentage {
  font-size: 18px;
  color: #fff;
}

.inspiration-text {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

//Tasks
.task-container {
  background-color: #282829;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.task-list {
  margin-top: 10px;
  color: #fff;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #0098ea;
  border-radius: 5px;
  margin-bottom: 10px;
}

button.complete-btn {
  background-color: #50a8eb;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.archive-btn {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
