:root {
  --font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #181819;
}

section {
  height: 100svh;
  padding: 20px;
}

.onboarding-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100svh;
  position: relative;
}

.onboarding-slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  position: relative;
}

.onboarding-slide h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  padding: 0 10px;
}

.onboarding-slide img {
  position: absolute;
  top: 40%;
  left: 50%;
  max-width: 70%;
  margin: 20px auto;
  transform: translate(-50%, -50%);
}

.slide-bottom {
  position: absolute;
  bottom: 52px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.next-btn {
  border-radius: 8px;
  padding: 12px 24px;
  background: #50a8eb;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 80%;
}

.level-icon {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  border-radius: 100%;
  background-color: #0098ea;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-block {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.user-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

.user-level {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #868686;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282829;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.bottom-menu,
.homepage-content {
  opacity: 0; /* Initially hidden */
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.bottom-menu.visible,
.homepage-content.visible {
  opacity: 1;
  visibility: visible; /* Make visible */
}

.add-button {
  background-color: #0098ea;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
